{
  "extends": "airbnb",
  "plugins": ["babel"],
  "parser": "babel-eslint",
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "babel/semi": 0,
    "semi": ["error", "never"]
  }
}